/* App.css */
body {
    background-color: #353333;
    color: white;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
  .col{
    display:flex;
    justify-content: center;
    text-align:center;
    color:red;
    margin-top:30px;
  }
.card-body{
    background-color: #111111;
  }
.card-title{
    display:flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.card-img-top {
    height: 500px;
    object-fit: cover;
    width: 100%;
  }
  .titulo-fijo {
    height: 75px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1d1d1d;
  }